@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--navTopHeight: 60px;
	--navSideWidth: 80px;
	--navBottomHeight: 60px;
	--contentBottomPad: 80px;
}

@layer utilities {
	.hide-sb::-webkit-scrollbar {
		display: none;
	}
}

@layer components {
	.btn-base {
		@apply relative inline-flex items-center justify-center rounded-md bg-neutral-50 px-10 py-2 text-center text-sm font-semibold
		text-zinc-600 shadow-[0_0_0_2px_rgba(0,0,0,0.2)]
		trans-col-main-theme hover:bg-opacity-90 
		active:bg-opacity-100 dark:bg-zinc-900 dark:text-neutral-300 
		dark:shadow-[0_0_0_1px_rgba(255,255,255,0.2)] dark:hover:bg-opacity-90
		dark:active:bg-opacity-100;
	}
	.btn-base:after {
		@apply absolute -bottom-[1px] -left-[1px] -right-[1px] -top-[1px] -z-10 rounded-md transition-[background-position_color_background-color]
		duration-1000 content-["_"];
	}
	.btn-hl {
		@apply btn-base;
	}
	.btn-hl:after {
		@apply bg-[0%_0%] hlGradient1 hover:bg-[99%_99%];
	}
	.btn-basic {
		@apply btn-base;
	}
	.btn-basic:after {
		@apply bg-zinc-500  dark:bg-white;
	}
}
